<a href="https://colab.research.google.com/github/cfreeman22/CreditCardChurnPrediction/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
# To help with data visualization
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# To be used for missing value imputation
from sklearn.impute import SimpleImputer

# To help with model building
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import (
    AdaBoostClassifier,
    GradientBoostingClassifier,
    RandomForestClassifier,
    BaggingClassifier,
)
from xgboost import XGBClassifier

# To get different metric scores, and split data
from sklearn import metrics
from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score
from sklearn.metrics import (
    f1_score,
    accuracy_score,
    recall_score,
    precision_score,
    confusion_matrix,
    roc_auc_score,
    plot_confusion_matrix,
)

# To be used for data scaling and one hot encoding
from sklearn.preprocessing import StandardScaler, MinMaxScaler, OneHotEncoder

# To be used for tuning the model
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

# To be used for creating pipelines and personalizing them
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

# To define maximum number of columns to be displayed in a dataframe
pd.set_option("display.max_columns", None)

# To supress scientific notations for a dataframe
pd.set_option("display.float_format", lambda x: "%.3f" % x)

# To supress warnings
import warnings

warnings.filterwarnings("ignore")

# This will help in making the Python code more structured automatically (good coding practice)
#%load_ext nb_black

In [2]:
raw = pd.read_csv("Cardiac.csv")

In [3]:
data = raw.copy()

In [4]:
data.head()

,Gender,Chain_smoker,Consumes_other_tobacco_products,HighBP,Obese,Diabetes,Metabolic_syndrome,Use_of_stimulant_drugs,Family_history,History_of_preeclampsia,CABG_history,Respiratory_illness,UnderRisk
0,Male,1,1,0,1,0,0,0,1,0,0,0,no
1,Male,0,1,0,1,0,0,0,1,0,0,0,no
2,Male,0,1,0,1,0,0,0,1,0,0,0,no
3,Male,0,1,0,1,0,0,0,1,0,0,0,no
4,Male,0,0,0,0,0,1,1,0,0,0,0,no

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 13 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Gender                           889 non-null    object
 1   Chain_smoker                     889 non-null    int64
 2   Consumes_other_tobacco_products  889 non-null    int64
 3   HighBP                           889 non-null    int64
 4   Obese                            889 non-null    int64
 5   Diabetes                         889 non-null    int64
 6   Metabolic_syndrome               889 non-null    int64
 7   Use_of_stimulant_drugs           889 non-null    int64
 8   Family_history                   889 non-null    int64
 9   History_of_preeclampsia          889 non-null    int64
 10  CABG_history                     889 non-null    int64
 11  Respiratory_illness              889 non-null    int64
 12  UnderRisk                        889 non-null    object
dtypes: int64(11), object(2)
memory usage: 90.4+ KB

In [6]:
data.duplicated().sum()

789

In [7]:
round(data.isnull().sum() / data.isnull().count() * 100, 2)

Gender                            0.000
Chain_smoker                      0.000
Consumes_other_tobacco_products   0.000
HighBP                            0.000
Obese                             0.000
Diabetes                          0.000
Metabolic_syndrome                0.000
Use_of_stimulant_drugs            0.000
Family_history                    0.000
History_of_preeclampsia           0.000
CABG_history                      0.000
Respiratory_illness               0.000
UnderRisk                         0.000
dtype: float64

In [8]:
data = data.drop_duplicates()
print(data)

     Gender  Chain_smoker  Consumes_other_tobacco_products  HighBP  Obese  \
0      Male             1                                1       0      1
1      Male             0                                1       0      1
4      Male             0                                0       0      0
5    Female             0                                1       0      1
6      Male             0                                1       0      0
..      ...           ...                              ...     ...    ...
777    Male             0                                1       1      1
782    Male             0                                1       1      1
806  Female             0                                0       0      0
839   Other             0                                1       0      0
862  Female             1                                1       1      1

     Diabetes  Metabolic_syndrome  Use_of_stimulant_drugs  Family_history  \
0           0                   0                       0               1
1           0                   0                       0               1
4           0                   1                       1               0
5           0                   0                       0               1
6           0                   0                       1               1
..        ...                 ...                     ...             ...
777         0                   0                       0               1
782         0                   0                       0               1
806         0                   1                       1               1
839         0                   1                       1               0
862         0                   0                       0               1

     History_of_preeclampsia  CABG_history  Respiratory_illness UnderRisk
0                          0             0                    0        no
1                          0             0                    0        no
4                          0             0                    0        no
5                          0             0                    0        no
6                          0             0                    0        no
..                       ...           ...                  ...       ...
777                        0             0                    1        no
782                        0             0                    1       yes
806                        0             0                    0        no
839                        0             0                    0        no
862                        0             1                    0        no

[100 rows x 13 columns]

In [9]:
data.head()

,Gender,Chain_smoker,Consumes_other_tobacco_products,HighBP,Obese,Diabetes,Metabolic_syndrome,Use_of_stimulant_drugs,Family_history,History_of_preeclampsia,CABG_history,Respiratory_illness,UnderRisk
0,Male,1,1,0,1,0,0,0,1,0,0,0,no
1,Male,0,1,0,1,0,0,0,1,0,0,0,no
4,Male,0,0,0,0,0,1,1,0,0,0,0,no
5,Female,0,1,0,1,0,0,0,1,0,0,0,no
6,Male,0,1,0,0,0,0,1,1,0,0,0,no